{
 
 "INPUT":["ID","ID",".."],
 "OUTPUT":["ID","ID",".."],
 "REFERENCE":["ID",""],
 "MODEL":["ID",""],
 "ERROR":["ID",""],
 "OUTPUT":["ID",""],
 "DELAY":["ID",""],
 "INTEGRATOR":["ID",""],
 "CONTROLLER":["ID",""],
 "OBSERVER":["ID"],
 "WAY":["ID"],
 "DISTURB":["ID"],
}
